@import '../../global.scss';

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2%;

	.portfolio-title {
		font-size: 50px;
		font-weight: 900;
		color: $themeColor;
		margin-bottom: 2%;
	}

	.portfolio-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 480px) {
	.portfolio {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 10px;

		.portfolio-title {
			width: 100%;
			height: 40px;
			font-size: 30px;
			text-align: center;
		}

		.portfolio-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
