@import '../../global.scss';

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2%;

	.portfolio-title {
		font-size: 50px;
		font-weight: 900;
		color: $themeColor;
		margin-bottom: 2%;
	}

	.portfolio-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (max-width: 480px) {
	.portfolio {
		padding: 10px;
	}
}
