@import '../../global.scss';

.about {
	width: 100%;
	display: flex;

	.about-outer {
		width: 100%;
		display: flex;
		justify-content: center;

		.about-inner {
			width: 90%;
			max-width: 1000px;
			background-color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 3;

			.about-title {
				font-size: 48px;
				font-weight: 600;
				color: $themeColor;
				padding: 20px;
				// text-decoration: underline $subColor;

				&:hover {
					color: $subColor;
				}

				.underscore {
					color: $subColor;
					font-size: 35px;
					font-family: 'Open Sans', sans-serif;
				}
			}

			.about-part {
				width: 100%;
				border: 1px solid $subColor;
				font-size: 18px;
				font-weight: 300;
				line-height: 2;
				margin: 0 0 40px 0;
				padding: 30px;
				box-sizing: border-box;
				box-shadow: -10px 0 $subColor;

				h1 {
					color: $subColor;
					margin-bottom: 20px;
					font-size: 30px;
					font-weight: 500;
				}

				&.two {
					margin: 0 0 30px 0;
					box-shadow: 10px 0 $subColor;

					.about-icon-container {
						display: flex;
						justify-content: space-around;

						.about-icon {
							margin: 5px;
							font-size: 30px;
							color: $themeColor;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.about {
		.about-outer {
			.about-inner {
				.about-title {
					font-size: 32px;
				}

				.about-part {
					line-height: 1.6;
					font-size: 12px;
					box-shadow: -2px 0 $subColor;

					h1 {
						margin-bottom: 15px;
						font-size: 24px;
					}

					&.two {
						margin: 0;
						box-shadow: 2px 0 $subColor;

						.about-icon-container {
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							margin-bottom: 15px;

							.about-icon {
								margin: 0 10px;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
