.about {
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;

	.about-left {
		flex: 1;
		height: 100vh;
		position: relative;

		.about-card {
			width: 55%;
			height: 55%;
			position: absolute;
			top: 25%;
			left: 25%;
			z-index: 2;

			.about-card-img {
				width: 100%;
				border-radius: 10%;
			}
		}

		.about-card-shadow {
			width: 60%;
			height: 60%;
			position: absolute;
			top: 20%;
			left: 8%;
			background-color: darkslateblue;
			border-radius: 10%;
		}
	}

	.about-right {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	.about {
		flex-direction: column;
		text-align: center;

		.about-left {
			width: 100%;

			.about-card {
				height: 30vh;
			}

			.about-card-shadow {
				display: none;
			}
		}

		.about-right {
			padding: 30px;
		}
	}
}
