@import '../../global.scss';

.contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;

	.contact-title {
		font-size: 45px;
		font-weight: 600;
		color: $themeColor;
		padding: 20px;
	}

	.contact-container {
		width: 1000px;
		height: 500px;
		border: 1px solid $subColor;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow-y: hidden;

		.contact-info {
			width: 260px;
			font-size: 20px;
			font-weight: 300;
			color: black;

			.contact-item {
				display: flex;
				margin: 10px;

				.contact-icon {
					margin-right: 10px;
					margin-top: 5px;
					color: $themeColor;
				}

				a {
					text-decoration: none;
					color: black;
					z-index: 3;

					&:hover {
						color: $themeColor;
					}
				}
			}
		}

		.contact-thanks {
			font-size: 45px;
			color: $subColor;
			position: absolute;
			bottom: -15px;
		}
	}
}

@media screen and (max-width: 480px) {
	.contact {
		.contact-bg {
			width: 300%;
		}
	}
}
