@import '../../global.scss';

.intro {
	display: flex;
	height: 100vh;

	.intro-left {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		.intro-left-wrapper {
			padding: 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.intro-greeting {
				font-size: 30px;
				font-weight: 300;
			}

			.intro-name {
				font-size: 50px;
			}

			.intro-title {
				height: 50px;
				overflow: hidden;
				margin-top: 20px;

				.intro-title-wrapper {
					height: 100%;
					animation: move 5s ease-in-out infinite alternate;

					@keyframes move {
						50% {
							transform: translateY(-50px);
						}
						100% {
							transform: translateY(-100px);
						}
					}

					.intro-title-item {
						height: 50px;
						font-size: 30px;
						font-weight: bold;
						color: $themeColor;
						display: flex;
						align-items: center;
					}
				}
			}

			.intro-desc {
				padding-top: 30px;
			}
		}
	}

	.intro-right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-x: hidden;
		position: relative;

		.intro-bg {
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
			background-color: $themeColor;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}

		.intro-img {
			width: 60%;
			// border-radius: 50%;
			z-index: 2;
		}
	}

	.scroll-down {
		position: absolute;
		bottom: 3%;
		left: 46%;
		font-size: 14px;
		font-weight: 500;
		color: $themeColor;
		border: 2px solid $themeColor;
		border-radius: 25px;
		padding: 6px;
		z-index: 3;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: $themeColor;
			color: white;
		}
	}
}

@media screen and (max-width: 480px) {
	.intro {
		flex-direction: column;

		.intro-left {
			.intro-left-wrapper {
				padding: 10px;
				align-items: center;
				justify-content: center;
				text-align: center;
				height: 100%;
			}

			.intro-desc {
				display: none;
			}
		}
	}
}
