@import '../../global.scss';

.footer {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2%;

	.footer-quote {
		font-size: 28px;
		font-weight: 400;
		color: $themeColor;
		margin-bottom: 5%;
		padding: 3%;
		text-align: center;
		line-height: 3;
	}

	.footer-wrapper {
		background-color: $themeColor;
		width: 100%;
		display: flex;
		padding: 2% 15%;
		box-sizing: border-box;

		.footer-left {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: end;
			margin-right: 6%;
			padding-top: 1%;
			text-align: right;

			a {
				text-decoration: none;
				color: black;
				z-index: 3;
			}

			.footer-link {
				font-size: 20px;
				font-weight: 400;
				color: black;
				margin-bottom: 2%;

				&:hover {
					color: white;
				}
			}
		}

		.footer-right {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 3%;

			.footer-info {
				font-size: 19px;
				font-weight: 300;
				color: black;

				.footer-item {
					display: flex;
					align-items: center;

					.footer-icon {
						margin-right: 10px;
						margin-top: 5px;
					}

					a {
						text-decoration: none;
						color: black;
						z-index: 3;

						&:hover {
							color: white;
						}
					}
				}
			}
		}
	}

	.footer-copyright {
		width: 100%;
		background-color: $themeColor;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 2%;
		padding-bottom: 2%;
		box-sizing: border-box;
		font-weight: 400;
	}
}

@media screen and (max-width: 480px) {
	.footer {
		margin: 0;

		.footer-quote {
			font-size: 18px;
			line-height: 3;
		}

		.footer-wrapper {
			padding: 20px;
			box-sizing: border-box;

			.footer-left {
				margin-right: 10px;

				a {
				}

				.footer-link {
					font-size: 16px;
					font-weight: 400;
					color: white;
					margin-bottom: 2px;

					&:hover {
						color: white;
					}
				}
			}

			.footer-right {
				margin-left: 10px;

				.footer-info {
					font-size: 14px;

					.footer-item {
						.footer-icon {
						}

						a {
							text-decoration: none;
							color: black;
							z-index: 3;

							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}

		.footer-copyright {
			font-size: 12px;
			padding-bottom: 30px;
		}
	}
}
